/* Main CSS Styles shared among all? pages */

/* ~~~~~ Color Theme */

:root {
  --color-background: white;
  --color-text: black;
  --color-heading: black;
  --color-link: blue;
  --color-accent: blue;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

a {
  color: var(--color-link);
}

a:hover, button:hover {
  color: var(--color-accent);
}

h1 {
  text-align: center;
}

/* ~~~~~ Layout and ... */

.menu-container {
  /* Layout the navigation menu horizontally */
  display: flex;
  justify-content: center;
}

.menu-container > li {
  /* Remove the disc/bullet before each list items in the navigation menu */
  list-style-type: none;


  /* Add a bit of space between items of the navigation menu */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tagline {
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: left;
  gap: 0.5rem;
}

.about-item-text {
  /* cannot grow, can shrink, width 70% initially */
  flex: 0 1 70%;
}

.about-item-photo {
  /* can grow and shrink, width 30% initially */
  flex: 1 1 30%;
}

.artist-photo {
  /* Can be overridden in the fansite CSS */
  max-width: 100%;
  height: auto;

  border: 0.3rem solid;
}

/*
  ~~~~~~~~~~~~~~~~~~~~~~~~~~
  Media Queries

  Target only 3 main categories: (Desktop, Tablet, Mobile)
  ~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media screen and (width >=1024px) {
  /* Desktop */
}

@media screen and (768px <=width < 1024px) {
  /* Tablet */
  
}

@media screen and (width < 768px) {
  /* Mobile */

  .about-container {
    /* TODO: Consider using another flex layout to bubble the image up */ 
    flex-wrap: wrap;
  }
}
